/* Background com gradiente e imagem */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:
                url('images/fundo.jpg'); /* Caminho para a imagem */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior esquerda */
         2px -2px 0 #000, /* Sombra superior direita */
        -2px  2px 0 #000, /* Sombra inferior esquerda */
         2px  2px 0 #000; /* Sombra inferior direita */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: #00a8e8;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ffffff; /* Borda com 2px de espessura e cor branca */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 
        -0.5px -0.5px 0 #000, /* Sombra superior esquerda */
         0.5px -0.5px 0 #000, /* Sombra superior direita */
        -0.5px  0.5px 0 #000, /* Sombra inferior esquerda */
         0.5px  0.5px 0 #000; /* Sombra inferior direita */
}

button:hover {
    background-color: #0077b6;
}
