/* Background com gradiente e imagem */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../images/oni.png') no-repeat center center fixed; 
    /* Caminho para a imagem, não repetindo e centralizando fixo */
    background-size: cover; 
    /* A imagem de fundo será redimensionada para cobrir toda a tela */
    background-position: center;
    color: white;
    min-height: 100vh;
    text-align: center;
    text-shadow: 
        -2px -2px 0 #000, /* Sombra superior esquerda */
         2px -2px 0 #000, /* Sombra superior direita */
        -2px  2px 0 #000, /* Sombra inferior esquerda */
         2px  2px 0 #000; /* Sombra inferior direita */
}

/* Estilo do cabeçalho */
.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo do título principal */
h1 {
    background-color: #00597c;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 
        -0.5px -0.5px 0 #000, 
         0.5px -0.5px 0 #000, 
        -0.5px  0.5px 0 #000, 
         0.5px  0.5px 0 #000;
    transition: background-color 0.3s;
}

/* Efeito de hover no título principal */
h1:hover {
    background-color: #002534; /* Cor mais escura no hover */
}

/* Contêiner centralizado para os itens */
.container {
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center;
    gap: 10px;
    width: 90vw;
    max-width: 800px; /* Limita a largura do contêiner */
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Estilo dos itens de texto */
.container h1, .container .item {
    background-color: #00597c;
    color: white;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%; /* Ocupa a largura completa do contêiner */
    text-align: left;
    overflow-wrap: break-word; /* Quebra as palavras longas */
    word-wrap: break-word; /* Quebra palavras longas para IE */
    word-break: break-word; /* Suporte adicional para quebra de palavra */
    transition: background-color 0.3s;
    text-shadow: 
        -0.5px -0.5px 0 #000, 
         0.5px -0.5px 0 #000, 
        -0.5px  0.5px 0 #000, 
         0.5px  0.5px 0 #000;
}

/* Efeito de hover nos itens */
.container .item:hover, .container h1:hover {
    background-color: #002534;
}

.item p {
    margin: 5px 0; /* Define um espaçamento entre as linhas */
    overflow-wrap: break-word; /* Quebra o texto em palavras longas */
}
